<div>
	<!-- <section class="blue">
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
        <div class="curve"></div>
    </section> -->
    <!-- <section class="pink">
        <div class="curve"></div>
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
    </section> -->
    <div class="spacer layer1">ddå</div>
    <section>
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
    </section>
    <section>
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
    </section>
    <section>
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
    </section>
    <section>
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
    </section>
    <section>
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
    </section>
    <section>
        <h1>Background</h1>
        <p>
            I am a software engineer with a passion for building web applications. I have experience in building web applications using React, Node.js, and MongoDB. I am also familiar with other technologies such as GraphQL, TypeScript, and Docker. I am always looking to learn new technologies and improve my skills. I am currently working as a software engineer at a startup in San Francisco. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly. I am always looking for new challenges and opportunities to learn and grow as a software engineer. I am excited to be part of a team that is building innovative products and solving challenging problems. I am looking forward to new opportunities to grow and learn. I am passionate about building high-quality software that is scalable, reliable, and user-friendly.
        </p>
    </section>
</div>
<style>
    section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 100px 10vw;
    }
	h1 {
        
    }
    .blue {
        background-color: #f0f8ff;
    }
    .pink {
        background-color: #ffc0cb;
    }
    .curve {
        position: absolute;
        height: 225px;
        width: 100%;
        bottom:0;
    }
    .curve::before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height:100%;
        background-color: #ffc0cb;
        transform: translate(85%, 60%);
    }
    .curve::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height:100%;
        background-color: #f0f8ff;
        transform: translate(-4%, 40%);
        z-index: -1;
    }
    .spacer {
 width: 100%;
background: 100% 100% no-repeat;
        background-size:cover;
    }
    .layer1 {
        background-image:url('/public/wave-haikei.svg')
    }
</style>