---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<svg width="2111" height="1730" viewBox="0 0 2111 1730" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="2111" height="1730" fill="#E5E5E5"/>
			<g id="triangles">
			<rect x="0.5" y="0.5" width="2110" height="1729" fill="white"/>
			<rect x="0.5" y="0.5" width="2110" height="1729" stroke="black"/>
			<g id="lightGroup">
			<path id="lightGroup_2" d="M1096.7 705.391L448.493 1102.47L454.954 297.956L1096.7 705.391Z" fill-opacity="0.7"/>
			</g>
			<g id="darkGroup">
			<path id="dark1" d="M1097.7 703.391L449.493 1100.47L455.954 295.956L1097.7 703.391Z"  fill-opacity="0.7"/>
			<path id="dark2" d="M1507.7 671.391L859.493 1068.47L865.954 263.956L1507.7 671.391Z"  fill-opacity="0.7"/>
			</g>
			</g>
			</svg>
		<!--<Header />-->
		<main>
			<h1>🧑‍🚀 Blog Posts</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>

		</main>
		<Footer />
	</body>
</html>
